@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');

.App {
  text-align: center;
}

.Welcome {
  text-align: center;
  font-family: 'Knewave', cursive;
  color: black;

}

.Welcome-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 500%;
}

hr {
  border: none;
  height: 10px;
  color: #333;
  background-color: #333;
}

.welcome-subtext{
  font-size: large;
  font-style: italic;
}

.background-of-everything {
  background-color: white;

}


.searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;

}



.heading{
  font-family: 'Knewave', cursive;
  color: black;
  font-size: xx-large;

}

.shoppinglist-heading{
  font-family: 'Knewave', cursive;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 94px;
}

.shoppinglist-subtext{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 94px;
}

.hide-this {
  display: none;
  visibility: hidden;
}
.new-recipe-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

}

.navBar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card-title {
  font-family: 'Knewave', cursive;
}

.modal-title {
  font-family: 'Knewave', cursive;
}


.list {
  list-style-type: none;
}


.link {
  float: right ;
  text-decoration: none;
  font-family: 'Knewave', cursive, bold;
  font-size: large;
}

.link a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link a:hover {
  background-color:black ;
  color: white;
  text-decoration: none;
}

.newRecipeForm{
  margin-left: 94px;
  padding: 0 40px;
  justify-content: center;
  margin-bottom: 100px;

}

.newIngredientForm {
  padding: 50px 60px;
}


