@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');
.App {
  text-align: center;
}

.Welcome {
  text-align: center;
  font-family: 'Knewave', cursive;
  color: black;
  font-size: xx-large;

}
hr {
  border: none;
  height: 10px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}
.welcome-subtext{
  font-size: large;
  font-style: italic;
}

.background-of-everything {
  background-color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: white;

}

.heading {
  font-family: 'Knewave', cursive;
  color: black;
  font-size: large;

}

.hide-this {
  display: none;
  visibility: hidden;
}
.new-recipe-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

}
.router {
  background-color: #73A788;
}
.navBar {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;


}

.card-title {
  font-family: 'Knewave', cursive;
}

.modal-title {
  font-family: 'Knewave', cursive;
}



.list {
  list-style-type: none;

}

.link {
  float: right ;
  text-decoration: none;
}

.link a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.link a:hover {
  background-color:black ;
  color: white;
  text-decoration: none;
}




.newIngredientForm {
  padding: 50px 60px;

}

